body {
    background-color: aquamarine;
    color: hotpink;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px palegoldenrod;
    padding: 20px;
    font-size: 30px;
    color: darksalmon
}

section {
    background-color: lightsteelblue;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
}